.boxTopic{
    display: block;
    float: left;
    width: 80%;
    margin-bottom: 2rem;
    margin-left: 10%;
    height: 6rem;
    background-color: white;
    border: 1px solid gray;
}

.boxTopic div{
    background-color: white;
}

.user{
    display: block;
    width: 7rem;
    height: 5rem;
    margin: 8px;
    float: left;
}

.userIcon{
    display: inline-block;
    width: 70px;
    height: 70px;
    color: #1DA1F2;
    margin-top: 5px;
    background-color: white;
}

.about{
    display: block;
    margin-top: 15px;
    float: left;
}

.about p{
    margin-top: 5px;
    color: gray;
}


.btn, .btnClicked{
    display: block;
    border: none;
    font-size: 25px;
    margin-top: 2rem;
    margin-right: 1rem;
    float: right;
    cursor: pointer;
}

.btnClicked{
    transform: rotate(90deg);
}

.btnS, .btnSClicked{
    display: inline-block;
    float: right;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -15px;
}

.btnSClicked{
    transform: rotate(90deg);
}

.topic{
    display: block;
    margin-bottom: 1rem;
    float: left;
    width: 100%;
}


.topics{
    display: block;
    background-color: white;
    padding: 5px;
    border: 1px solid gray;
    width: 100%;
    border-top: none;
    padding: 10px;
}

.topics h5{
    background-color: white;
    width: 90%;
}

.topics p{
    display: block;
    margin-top: 15px;
    text-align: left;
    color: grey;
    width: 95%;
}

@media all and (max-width: 404px){
    .boxTopic{
        height: 8rem;
    }

    .topic{
        margin-top: 2rem;
    }
    .userIcon{
        width: 50px;
        height: 50px;
        margin-top: 17px;
        margin-left: -55px;
    }

    .about{
        margin-left: -55px;
    }

    .btn,.btnClicked{
        font-size: 20px;

    }

}

@media all and (max-width: 328px){
    .btn,.btnClicked{
        float: unset;
        margin-top: 5rem;
        margin-bottom: -1rem;
    }
}

@media all and (max-width: 284px){
    .userIcon{
        width: 40px;
        height: 40px;
        margin-top: 17px;
        margin-left: -75px;
    }

    .about{
        margin-left: -75px;
    }

    .about h1{
        font-size: 25px;
    }

    .about p{
        font-size: 14px;
    }
}
