.boxTopic{
    display: block;
    float: left;
    width: 80%;
    margin-bottom: 1rem;
    margin-left: 10%;
    height: 6rem;
    border: 1px solid gray;
    background-color: white;
}


.user{
    display: block;
    width: 7rem;
    height: 5rem;
    margin: 8px;
    float: left;
    background-color: white;
}

.userIcon{
    display: inline-block;
    width: 70px;
    height: 70px;
    color: #1DA1F2;
    margin-top: 5px;
    background-color: white;
}

.about{
    display: block;
    margin-top: 15px;
    background-color: white;
    float: left;
}

.about p{
    margin-top: 5px;
    color: gray;
}


.btn, .btnClicked{
    display: block;
    border: none;
    background-color: white;
    font-size: 25px;
    margin-top: 2rem;
    margin-right: 1rem;
    float: right;
}

.btnClicked{
    transform: rotate(90deg);
}

.topic{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    border: 1px solid gray;
    margin-bottom: 1rem;

}

.topic:first-child{
    border-top: none ;
}

.topics{
    display: inline-block;
    background-color: white;
    border-bottom: 1px solid gray;
    padding: 5px;

}

.topic:last-child{
    border-bottom: none;
}

